
@{     ViewBag.Title = "Developed By"; }
<h2>@ViewBag.Title :</h2>
<address>
    Vinay Kumar Vangimalla<br  />
    Moline,  IL, 61265 <br  />
    <abbr title ="Phone">Ph :</abbr>     +1 309-517-5170
</address>
<address>
    <strong>E-Mail:</strong>   <a href ="mailto:vinayk0702@gmail.com">vinayk0702@gmail.com</a><br  />
</address>
